
@media screen and (max-width: 768px) {

    #headline {
        width: 100%;
        min-width: 0;
    }

    #description {
        font-size: 20px;
        padding: 0 5px 0 5px;
        
    }

    .headline-button {
        width: 120px;
        font-size: 15px;
        background-color: rgb(241, 115, 65);
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width: 450px) {

    #headline-container {
        background-image: none;
        background-color: white;
    }

    #description {
        color: black;
    }

}