* {
    margin: 0;   
}

html {
    scroll-behavior: smooth;
  }
  
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    /* background-image: url(../img/background.jpg); */
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#headline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/background.jpg);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 650px; */
    min-height: 500px;
}

#headline {
    padding-top: 90px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 45%;   */
    /* min-width: 856.35px; */
}

#headline-clip {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    clip-path: polygon(0% 100%, 130% 100%, 50% 100%, 0% 0%);
    -webkit-clip-path: polygon(0% 100%, 130% 100%, 50% 100%, 0% 0%);
    background-color: #FFF;  
}
#caption {
    font-size: 64px;
    font-family: 'Fredoka One', cursive;
    background: -webkit-linear-gradient(rgb(255, 155, 5), rgb(153, 66, 45));
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    /* background: -webkit-linear-gradient(rgb(5, 255, 180), rgb(66, 178, 252)); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#description {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

#quote {
    margin-top: 48px;
    font-size: 42px;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px black;
}

.button-row {
    display: flex;
    justify-content: center;
}

.headline-button {
    width: 160px;
    align-self: center;
    background-color: transparent;
    border: 2px solid #ee7822;
    color: #ee7822;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 20px;
    line-height: 2em;
    border-radius: 64px;
    text-decoration: none;
    text-align: center;
    margin: 16px 10px 0 10px;
}

.headline-button:hover {
    background-color: #ee7822;
    color: rgb(255, 255, 255);
}

.button-row .headline-button {
    background-color: #ee7822;
    color: rgb(255, 255, 255);
}

.button-row .headline-button:hover {
    background-color: #ff8d3b;
    border: 2px solid #ff8d3b;
}

/* #donate {
    color: rgb(169, 252, 92);
    border: 2px solid rgb(169, 252, 92);
}

#donate:hover {
    background-color: rgb(169, 252, 92);
    color: rgb(0, 0, 0);
} */

#menu-container {
    /* height: 50px; */
    z-index: 50;
    position: sticky;
    top: 0;
    max-width: 50%;
    margin-right: 0;
    margin-left: auto;
}

#menu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

#menu a {
    text-decoration: none;
    color: black;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 24px;
    padding: 0 15px 0 15px;
}

section {
    /* min-height: 1000px; */
    margin: 0 5% 0 5%;
}

#podcast-info {
    display: flex;
    justify-content: flex-start;
}

.illustration {
    /* align-self: center; */
    width: 45%
}

#pic2 {
    order: 2;
}

#listener-info {
    display: flex;
    justify-content: flex-end;
}

.text-box {
    order: 0;
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    -webkit-text-stroke: 2px rgb(255, 101, 41);
    color: rgba(247, 179, 90, 0);
    padding-bottom: 32px;
}

.text-box p {
    font-family: 'Pragati Narrow', sans-serif;
    padding: 0 5% 0 5%;
    font-size: 24px;
}

.active a {
    color: rgb(255, 101, 41) !important;
}

.separator {
    min-height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #ee7822;
    height: 2em;
    color: white;
}

footer p {
    padding: 0 2px 0 2px;
    line-height: 2em;
}